*{
	margin:0px;
	padding:0px;
}
BODY {
	FONT-FAMILY:"微软雅黑",Verdana,Arial,sans-serif; BACKGROUND: url(../image/bg.jpg); 
}
#page {
	 WIDTH: 715px;
	 height:500px;
	 MARGIN: 20px auto; 
	 BACKGROUND:white;
	 border-radius:5px;
	 box-shadow:0 0 20px #333;
	 padding:10px;
	 position:relative;
}

#header {
	PADDING: 0px; MARGIN:0px;  WIDTH: 715px; HEIGHT: 150px;
	BACKGROUND: url(../image/head.jpg) no-repeat center top;
	border-radius:3px; 
}
#header h1 {
	TEXT-ALIGN: right;
	FONT-SIZE: 22px;
	PADDING-RIGHT: 14px;
	PADDING-TOP: 35px;	
}
#header .description {
	TEXT-ALIGN:  right; 
	PADDING-RIGHT: 14px;
	padding-top:15px; 
	FONT-SIZE: 0.9em;
	COLOR: #fff; 
	TEXT-DECORATION: none;
}
#header .userinfo{
	TEXT-ALIGN:  right; PADDING: 10px 14px 0px 0px; FONT-SIZE: 0.9em;
    COLOR: #fff; 
}
#header .userinfo a{
	COLOR: #fff; TEXT-DECORATION: none;FONT-SIZE: 0.9em;
}
#header .userinfo a.username{
	COLOR: #ff0;FONT-SIZE: 0.9em;
	font-weight:bold;
}

#navigation {
	border-radius:3px;
	margin-top:10px;
	HEIGHT: 45px;LINE-HEIGHT: 45px; 
	/* BACKGROUND: url(menu.jpg) no-repeat center top; */ 
	/* Webkit: Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fd849), to(#56b31a)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #8fd849, #56b31a); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #8fd849, #56b31a); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #8fd849, #56b31a); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #8fd849, #56b31a); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#8fd849, endColorStr=#56b31a);
}
#navigation ul {
	LIST-STYLE-TYPE: none;TEXT-ALIGN: left; PADDING: 0px; MARGIN: 0 0 0 30px;
}
#navigation ul li {
	DISPLAY: inline;
}
#navigation ul li a {
	LINE-HEIGHT: 45px; 
	PADDING-left:1em; PADDING-right:1em;
	margin:0px; 
	LETTER-SPACING: 1px; 
	COLOR: #fff; 
	FONT-SIZE:0.9em; 
	TEXT-DECORATION: none; 
}
#navigation ul li a:hover {
	display:inline-block;
	height:45px;
	LINE-HEIGHT: 45px; 
	/*BACKGROUND: url(menu2.jpg) center -1px repeat-x;*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#56b31a), to(#8fd849)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #56b31a, #8fd849); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #56b31a, #8fd849); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #56b31a, #8fd849); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #56b31a, #8fd849); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#56b31a, endColorStr=#8fd849);
	COLOR: #ff0;
}

#content {
	FONT-SIZE: 1em;
	height:200px;
}
marquee H2{
	FONT-SIZE: 1em;
}

.widecolumn {
	PADDING: 10px 0 20px 0; 
	MARGIN: auto; 
	WIDTH: 450px; 
	LINE-HEIGHT: 1.6em;
	
}
.widecolumn .postdata {
	MARGIN: 5px 0px;
	padding:0 20px;
	TEXT-ALIGN:  left; 
	COLOR: #333;
	BORDER-BOTTOM: #ddd 1px solid; 
	BACKGROUND-COLOR: #f8f8f8; 
	BORDER-TOP: #ddd 1px solid;
	height:170px;
}




#footer {
	border-radius:3px;
	/*BACKGROUND: url(foot.jpg) no-repeat 50% bottom; */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#61a0ed), to(#3a76bf)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #61a0ed, #3a76bf); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #61a0ed, #3a76bf); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #61a0ed, #3a76bf); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #61a0ed, #3a76bf); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#61a0ed, endColorStr=#3a76bf);	
	WIDTH: 715px; 
	HEIGHT: 65px; 
	FONT-SIZE: 0.8em;
	position:absolute;
	bottom:10px;
}
#footer P {
	TEXT-ALIGN: center;
	PADDING: 12px 0px;
	MARGIN: 0px;	
	COLOR: #fff;
}
#footer a {
	COLOR: #fff
}

/*  --------------  login page  and reg page   -------------------   */
.loginboard {
	 WIDTH: 510px;
	 height:410px;
	 MARGIN: 20px auto; 
	 BACKGROUND: url(../image/loginbg.jpg); 
	 border-radius:3px;
	 border:1px solid #e8e8e8;
	 box-shadow:0 0 20px #333;	 
}
.bigger{
	height:530px;
}
.loginregheader {
	position:relative;
	PADDING: 0px; 
	MARGIN:22px 0px 0px -7px;  
	WIDTH:519px; 
	HEIGHT:44px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#61a0ed), to(#3a76bf)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #61a0ed, #3a76bf); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #61a0ed, #3a76bf); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #61a0ed, #3a76bf); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #61a0ed, #3a76bf); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#61a0ed, endColorStr=#3a76bf);
	border:1px solid #4076be; 
}

.loginregheader h1{
	color:white;
	font-size:1em;
	line-height:44px;
	padding-left:30px;
	letter-spacing:0.1em;
	
}
.loginregheader h1:before{
	z-index:-1;
	content:"";
	position:absolute;
	left:-1px;
	top:-12px;
	border-right:10px solid #2b4f7f;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	
}

.loginregform{
	margin:40px 0 0 60px;
}
.loginregform label:not([for="rememberme"]){
	display:none;
}

.loginregform input:not([type=checkbox]){
	width:354px;
	height:54px;
	margin-bottom:30px;
	font-size:1em;
	border:1px solid #d7d7d7;
	padding:0 10px 0 30px;
	border-radius:4px;
	box-shadow:inset 0 0 10px #cecece;
}
.loginregform input:focus{
	border:1px solid #4ba7e3;
	box-shadow:none;
}
.loginregform #u_name{
	background:url(../image/user.png) no-repeat 7px 17px;
}
.loginregform #u_name:focus{
	background:url(../image/user-focus.png) no-repeat 7px 17px;
}
.loginregform #u_pwd,#u_pwdagn{
	background:url(../image/pwd.png) no-repeat 7px 17px;
}
.loginregform #u_pwd:focus,#u_pwdagn:focus{
	background:url(../image/pwd-focus.png) no-repeat 7px 17px;
}
.loginregform #u_phone{
	background:url(../image/phone.png) no-repeat 7px 17px;
}
.loginregform #u_phone:focus{
	background:url(../image/phone-focus.png) no-repeat 7px 17px;
}
.loginregform #rememberme{
	width:20px;
	height:20px;
	vertical-align:middle;	
}
.loginregform label.chk_rem{
	vertical-align:middle;
}
.loginregform span.fgt-reg{
	padding-left:120px;
	vertical-align:middle;	
	color:#4ba7e3;
}
.loginregform span.fgt-reg a{
	margin:0 20px;
	text-decoration:none;
	color:#4ba7e3;
	
}

.loginregform span.fgt-reg a:hover{
	text-decoration:underline;
	color:#4ba7e3;
	
}
.loginregform button{
	width:190px;
	height:55px;
	color:white;
	font-size:1em;
	border-radius:3px;
	border:1px solid #5aa21c;
	/* Webkit: Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fd849), to(#56b31a)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #8fd849, #56b31a); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #8fd849, #56b31a); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #8fd849, #56b31a); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #8fd849, #56b31a); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#8fd849, endColorStr=#56b31a);			
}
.loginregform #btn_login{
margin:20px 0 0 205px;
}
.loginregform #btn_reset{
margin-left:10px;
}
.loginregform button:hover{
	/* Webkit: Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fe646), to(#6eca1e)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #8fe646, #6eca1e); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #8fe646, #6eca1e); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #8fe646, #6eca1e); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #8fe646, #6eca1e); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#8fe646, endColorStr=#6eca1e);		
}

/*-----plan page----*/
#planpage{
	 WIDTH: 715px;
	 height:650px;
	 MARGIN: 20px auto; 
	 BACKGROUND:white;
	 border-radius:5px;
	 box-shadow:0 0 20px #333;
	 padding:10px;
	 position:relative;
}
.listcolumn{
	MARGIN: auto; 
	WIDTH: 600px; 
	line-height:40px;
	padding:20px 0 10px 0;
}
.listcolumn h1{	
	padding-left:5px;
	font-size:1.3em;
	color:#666;
}
.listcolumn h2{
	background:url(../image/planicon.png) no-repeat left 10px;
	color:#666;
	font-size:1em;
	padding-left:30px;
}
.listcolumn ul{
	list-style:none;
}
.planlist li p{
	display:inline;
}
.planlist li p span{
	color:#F90;
	font-style:italic;
}

#addplan_form input{
	width:480px;
	height:50px;
	font-size:1em;
	border:1px solid #d7d7d7;
	padding:0 10px;
	border-radius:4px;
}
#addplan_form input:focus{
	border:1px solid #4ba7e3;
}
#addplan_form #btn_addplan{
	width:80px;
	height:50px;
	margin-left:10px;
	color:white;
	font-size:1em;
	border-radius:3px;
	border:1px solid #5aa21c;
	/* Webkit: Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fd849), to(#56b31a)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #8fd849, #56b31a); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #8fd849, #56b31a); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #8fd849, #56b31a); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #8fd849, #56b31a); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#8fd849, endColorStr=#56b31a);		
}
#addplan_form #btn_addplan:hover{
	/* Webkit: Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fe646), to(#6eca1e)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #8fe646, #6eca1e); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #8fe646, #6eca1e); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #8fe646, #6eca1e); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #8fe646, #6eca1e); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#8fe646, endColorStr=#6eca1e);		
}



#addnote_form input{
	width:480px;
	height:50px;
	font-size:1em;
	border:1px solid #d7d7d7;
	padding:0 10px;
	border-radius:4px;
}
#addnote_form input:focus{
	border:1px solid #4ba7e3;
}
#addnote_form #btn_addnote{
	width:80px;
	height:50px;
	margin-left:10px;
	color:white;
	font-size:1em;
	border-radius:3px;
	border:1px solid #5aa21c;
	/* Webkit: Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fd849), to(#56b31a)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #8fd849, #56b31a); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #8fd849, #56b31a); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #8fd849, #56b31a); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #8fd849, #56b31a); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#8fd849, endColorStr=#56b31a);		
}
#addnote_form #btn_addnote:hover{
	/* Webkit: Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fe646), to(#6eca1e)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #8fe646, #6eca1e); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #8fe646, #6eca1e); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #8fe646, #6eca1e); 
/* IE 10 */ 
background: -ms-linear-gradient(top, #8fe646, #6eca1e); 
/* IE < 10 */ 
/* 注意：这一行必须写在最后 */ 
FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#8fe646, endColorStr=#6eca1e);		
}
.notetime{
	background:#eee;
	font-size:0.8em;
	color:#333;	
	padding:0;
	margin:-10px 0;
}
.notewords{
	padding:0;
	margin:-10px 0;
}
.noteuser{
	font-size:0.7em;
	position:relative;
	right:-500px;
	top:-30px;
}
.friendslist li{
	float:left;
	width:150px;
}
.friendslist img{
	width:80px;
	height:80px;
}
.friendslist .clear{
	clear:both;
}
.friendslist .viewfriend{
	font-size:0.7em;
}
.friendslist .delfriend{
	font-size:0.7em;
}

/*  -----------------  vote page   --------------------------*/
.voteboard{
	width:500px;
	margin:10px auto;
	background:#FFF;
	border-radius:3px;
	border:1px solid #e8e8e8;
	box-shadow:0 0 20px #333;	 
}
.voteQuestion h1{
	font-size:18px;
	color:#333;
	margin:20px 10px 0 10px;
	padding-bottom:5px;
	border-bottom:1px solid #666;
}
.voteitems{
	padding:20px;
}
.voteitems p{
	line-height:30px;
	border-bottom:1px solid #CCC;
}
.voteitems p:last-child{
	border:none;
}
.votebutton{
	width:100px;
	height:30px;
	font-size:1em;
	border-radius:3px;
	background:#39F;
	border:none;
	margin:10px 10px 0 0;
}
.votebutton:hover{
	background:#6CF;
}#errorInfo {
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 50px;
	color: #F00;
	background-color: #CCC;
	height: 60px;
	width: 300px;
	border: 1px solid #D6D6D6;
	position: absolute;
	left: 40%;
	top: 30%;
	display:none;
	border-radius:5px;
	text-align: center;
}

#error{
	position: absolute;
	width: 300px;
	height: 60px;
	background-color:#FEDC75;
	border: 1px #FFB46D solid;
	left: 50%;
	top: 80%;
	margin-left: -150px;
	margin-top: -30px;
	line-height: 60px;
	text-align: center;
	color: #f20c00;
	border-radius: 4px;
	font-size: 14px;
	z-index :9999;
}
#errorClose{
	position: absolute;
	right: 4px;
	top:4px;
	width: 22px;
	height:22px;
	line-height:22px; 
	border: 0;
	color: #FFB46D;
	background-color:#fff;
	cursor: pointer;
	font-weight: bold;
	z-index :9999;
}